grant codeBase "file:${client.home}/-" {
    permission java.security.AllPermission;
};

grant codeBase "${client.codebase}/-" {
    permission java.security.AllPermission;
};
