<head>
    <meta charset="utf-8">
    <title>Logout</title>
    <link rel='stylesheet' href="/public/css/site.css">

</head>

<body>
    <main>
        <h1>You have been logged out</h1>
        <a href="/">Home</a>
    </main>
</body>