<head>
    <meta charset="utf-8">
    <title>Private</title>
    <link rel='stylesheet' href="/public/css/site.css">

</head>

<body>
    <main>
        <h1>Not Authorized</h1>
        <p>You are not logged in</p>
        <a href="/">Login</a>
    </main>
</body>