<head>
    <meta charset="utf-8">
    <title>Error: 400</title>
    <link rel='stylesheet' href="/public/site.css">
</head>

<body>
    <main>
        <h1>Error Status 400</h1>
        <p class="error">Entered empty search string</p>
    </main>
</body>