<main>
    <h1>The Prime Number Checker</h1>

    <div class="row">
        <div class="col-6">
            <form id="prime-input" class="form">
                <div class="form-group">
                    <label for="num-input">Input Number</label>
                    <input class="form-control" name="num-input" type="number" id="num-input">
                </div>
                <button type="submit" class="btn btn-primary align-right">Submit</button>
            </form>
        </div>
        <div class="col-6">
            <div class="card border-dark">
                <div class="scroll">
                    <ol id="attempts">

                    </ol>
                </div>
            </div>
        </div>
    </div>
</main>